@import '../../constants/colors.scss';

.clients {

  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    h2 {
      color: $head-title-h2;
      font-family: Roboto, sans-serif;
      font-size: 22px;
      font-weight: 700;
      line-height: 26px;
    }

    h4 {
      color: $head-title-h4;
      font-family: Roboto, sans-serif;
      font-size: 11px;
      font-weight: 400;
      line-height: 14px;
    }
  }
}

.button {
  padding: 0.8rem;
  padding-right: 1rem;
  padding-left: 2rem;
  background: $button-background;
  border: none;
  border-radius: 3px;
  color: $button-text;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 0.8rem center;
  cursor: pointer;

  &--add-client {
    background-image: url('./add.svg');
    
    margin-left: 0.75rem;
  }

  &--favorite {
    background-image: url('./favorites.svg');
    background-color: $button-background-favorite;
    border: 1px solid $botton-favorite-border;
    color: $button-favorite-text;
  }
}