@import '../../constants/colors.scss';

.table {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 1rem;
  border-radius: 3px;

  &__head {
    display: grid;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 25fr 19fr 31fr 23fr;
    margin-top: 3px;
    margin-bottom: 1px;
    padding: 0.9rem 1.2rem 0.8rem 1.2rem;
    background-color: $table-background;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: left;
    color: $table-title;
    font-family: Roboto, sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 12px;
  }
}
