@import '../../constants/colors.scss';

.table-row {
  display: grid;
  //grid-template-columns: 25% 20% 31% 24%;
  grid-template-columns: 25.5% 19.5% 31.5% 13.5% 10%;
  margin-bottom: 1px;
  padding: 0.9rem 1.2rem;
  background-color: $table-background;
  border-radius: 3px;
}

.table-column {
  display: flex;
  font-family: Roboto, sans-serif;
  text-align: left;
  color: $table-title;
  background-color: $table-background;

  &__avatar {
    margin-right: 0.7rem;
  }

  &__icon {
    display: flex;
    justify-content: space-around;
    width: 36px;
    height: 36px;
    background-color: $table-background-icon;
    border-radius: 3px;
    margin-right: 0.7rem;
  }

  &__h3 {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__h4 {
    color: #8ea4b5;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
  }

  &__rating {
    text-align: center;
    color: #8ea4b5;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    img {
      margin-bottom: 0.4rem;
    }
  }

  &__buttons {
    display: flex;
  }

  &__button {
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #dbe4e7;
    cursor: pointer;
    margin-left: 5px;

    &--resume {
      background: url('./resume.svg') no-repeat center center;
    }

    &--archive {
      background: url('./archive.svg') no-repeat center center;
    }

    &--favorite {
      background: url('./favorite.svg') no-repeat center center;
    }
  }
}

.bold {
  color: #475364;
  font-weight: 700;
}