@import 'constants/colors.scss';
@import 'constants/variables.scss';

.field-star {
  position: relative;
  font-family: $font-family;
  margin-bottom: 1.35rem;

  &__title {
    display: block;
    margin-bottom: 0.5rem;
    color: $field-title-text;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.2rem;
    text-transform: uppercase;
  }

  &__item {
    margin-right: 0.3rem;
    cursor: pointer;
  }

  &__control {
    position: absolute;
    bottom: 0;
    left: 4.8rem;
    margin: auto;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}
