@import 'constants/colors.scss';
@import 'constants/variables.scss';

.field-star {
  font-family: $font-family;
  margin-bottom: 1.35rem;

  &__title {
    display: block;
    color: $field-title-text;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.2rem;
    text-transform: uppercase;
  }

  &__item {
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    cursor: pointer;
  }
}
