$header-background: #29313c;
$main-background: #f4f9fb;

$sidebar-background: #323a45;
$sidebar-shadow: #222222;

$menu-item-selected: #282e37;

$button-background: #386bf2;
$button-background-favorite: #ffffff;
$button-text: #ffffff;
$botton-favorite-border: #dbe4e7;
$button-favorite-text: #475364;

$head-title-h2:#475364;
$head-title-h4: #8ea4b5;

$table-title: #475364;
$table-background: #ffffff;

$table-background-icon: #e8eff1;
$table-button-border: #dbe4e7;

$table-none: #a3a9b1;

$add-form-line: #f4f9fb;