@import '../../constants/colors.scss';

.main {
  position: relative;
  box-sizing: border-box;
  padding: 1.9rem;
  padding-top: 1.4rem;
  background-color: $main-background;
  width: 100%;
  margin-top: 4.1rem;
}
