@import 'constants/colors.scss';
@import 'constants/variables.scss';

.header {
  position: fixed;;
  height: $header-height;
  display: flex;
  align-items: center;
  padding-left: 2.7rem;
  background: $header-background;
  width: 100%;
  z-index: 2;
}