.field-input {
  font-family: Roboto, sans-serif;
  margin-bottom: 1.35rem;

  &__title {
    display: block;
    color: #475364;
    font-size: 11px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
  }

  &__comment {
    color: #8ea4b5;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-transform: none;
    margin-top: 0.2rem;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 2.25rem;
    padding-left: 0.8rem;
    border: 1px solid #dce5ea;
    border-radius: 3px;
    background: #f4f9fb;
    color: #8ea4b5;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin-top: 0.45rem;

    &::placeholder {
      color: #8ea4b5;
    }
  }

  &__add {
    display: inline-block;
    color: #8ea4b5;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin-top: 0.4rem;
    border-bottom: 1px dotted #8ea4b5;
    cursor: pointer;
  }
}
