.page {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-template-rows: 2;

  grid-template-areas: 
  "header header"
  "sidebar main";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}